@import url(reset.css);

:root{
    --bg-color: rgb(67, 116, 83);
    --main-color: rgb(171, 132, 171);
    --accent-color: rgb(244, 168, 81);
    --second-color: #5cbeb8;


    --font-text: Georgia, 'Times New Roman', serif;
    --font-heading: 'Palatino Linotype', 'Book Antiqua', serif;
    --font-math: 'Cambria Math', Constantia, serif;
    --font-misc: Corbel, 'Lucida Console', sans-serif;
    --font-button: Constantia, serif;

    --leather: url(leather.jpg);
    --paper: url(paper.jpg);
    --wallpaper: url(pattern_c.jpg);
}


html{
    background-color: var(--bg-color);
    background-image: var(--wallpaper);
    background-size: 250px;
    background-repeat: repeat;
    background-attachment: scroll;
    height: 100dvh;
}

body{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    width: 53%;
    min-height: 100%;
    margin-inline: auto;
    background-color: var(--main-color);
    font-family: var(--font-text);

    h1, h2, h3, h4, h5, h6{
        font-family: var(--font-heading);
        font-weight: bolder;
    }
    h1{font-size: 2em;}
    h2{font-size: 1.8em;}
    h3{font-size: 1.6em;}
    h4{font-size: 1.5em;}
    h5{font-size: 1.3em;}
    h6{font-size: 1.15em;}
    
}

footer{
    --title-size: 24px;
    --auth-size: 150px;
    --rounding: 0px;

    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: calc(var(--title-size) * 2.5);
    border-radius: var(--rounding) var(--rounding) 0 0;
    width: 96.5%;
    color: white;
    margin-block-start: 1em;

    &>*:not(:last-child){
        margin-inline-end: 1em;
    }
}

header{
    --title-size: 36px;
    --auth-size: 150px;
    --rounding: 30px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: calc(var(--title-size) * 2.5);
    border-radius: 0 0 var(--rounding) var(--rounding);
    width: 98%;
    color: white;
    margin-block-end: 1em;


    h1{
        font-size: var(--title-size);
        width: calc(100% - var(--auth-size));
        display: inline-block;
        text-align: center;
        padding-inline-start: var(--auth-size);
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
    }

    .auth{
        width: var(--auth-size);
        height: 100%;

        display: inline-flex;
        flex-flow: column nowrap;
        align-items: stretch;
        justify-content: center;
        gap: 0.5cqb;
        max-width: var(--auth-size);
        text-align: center;
        
        a{
            overflow: hidden;
            text-overflow: ellipsis;

            /*
            &:last-child{
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
            &:first-child{
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            */
        }
    }
}

main{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: flex-start;

    padding-inline: 2cqi;
    padding-block-end: 5cqb;
    padding-block-start: 1cqb;

    section{
        --texture-color: magenta;
        --border-color: color-mix(in oklab, var(--texture-color), rgba(0, 0, 0, 0.464) 10%);
        --border-offset: 1.5cqb;

        display: flex;
        flex-flow: row nowrap;
        margin-block: 1.5cqb;
        background-color: var(--texture-color);
        padding: calc(var(--border-offset) * 3);

        outline: dashed var(--border-color) 3px;
        outline-offset: calc(var(--border-offset) * -1);

        figure{
            padding-inline-end: 5%;
            margin-block-start: -1%;
            position: relative;

            span:has(h1){
                display: inline-flex;
                flex-flow: row nowrap;
                align-content: center;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            figcaption{
                padding-inline-end: 0px;
                padding-block: 1em;
                text-align: justify;
            }

            a{
                text-decoration: none;
            }
        }

        img{
            max-width: 120px;
        }

        &.restricted{
            position: relative;

            *{
                user-select: none;
            }

            &::before{
                --padding-size-x: 100px;
                content: 'Этот контент доступен только зарегистрированным пользователям.';
                position: absolute;
                display: block;
                width: calc(100% - var(--padding-size-x) * 2);
                height: 100%;
                background-color: color-mix(in oklab, var(--accent-color), rgba(128, 128, 128, 0.5));
                text-align: center;
                padding-inline: var(--padding-size-x);
                align-content: center;
                color: color-mix(in oklab, var(--accent-color), white 80%);
                text-shadow: 1px 1px 6px black;
                z-index: 10;
                top: 0;
                left: 0;
                font-size: 1.5em;
            }
        }
    }
}

.leather{
    --texture-color: magenta;
    --border-color: gold;
    --border-offset: 10px;
    --shadow-size: 8px;
    --shadow-color: #000000;

    background-color: var(--texture-color);
    background-image: linear-gradient(to bottom, #e6f8f149, #fefcf059 28%, transparent 68%, #4c425042), var(--leather);
    background-size: 100%, 20% auto;
    background-blend-mode: overlay, overlay;
    background-repeat: repeat;
    outline: var(--border-color) 1.6px dotted;
    outline-offset: calc(var(--border-offset) * -1);
    padding: calc(var(--border-offset) * 1.5);
    box-shadow: 0 1px var(--shadow-size) 0 var(--shadow-color);
}


.paper{
    --texture-color: magenta;
    --border-color: gold;
    --border-offset: 10px;
    --shadow-size: 8px;
    --shadow-color: #000000;

    background-color: var(--texture-color);
    background-image: var(--paper);
    background-size: contain;
    background-blend-mode: overlay;
    background-repeat: repeat;
    box-shadow: 0 1px var(--shadow-size) 0 var(--shadow-color);
}

.link-button{
    --gradient-pos-a: 30%;
    --gradient-pos-b: 70%;

    --button-color: var(--accent-color);
    --rounding: 20px;
    --shadow-smear: 8px;
    --shadow-color: color-mix(in oklab, var(--button-color), rgba(0, 0, 0, 0.2) 75%);

    display: inline-block;
    cursor: pointer;
    background-color: var(--button-color);
    background-image: linear-gradient(to bottom, rgba(245, 240, 229, 0.4), rgba(255, 250, 235, 0.55) var(--gradient-pos-a), transparent var(--gradient-pos-b), rgba(36, 28, 47, 0.5));
    background-blend-mode: overlay;
    color: color-mix(in oklab,
        var(--button-color),
        white 90%
    );
    font-family: var(--font-button);
    font-variant: small-caps;
    text-transform: uppercase;
    font-size-adjust: cap-height;
    line-height: 1em;
    max-height: 1em;
    text-wrap: nowrap;
    text-decoration: none;
    padding-inline: 1em;
    padding-block: 0.3em;
    border-radius: var(--rounding);
    box-shadow: 0 calc(var(--shadow-smear) / 2.5) var(--shadow-smear) var(--shadow-color);

    &:hover{
        --gradient-pos-a: 50%;
        --gradient-pos-b: 90%;
    }
    &:active{
        --gradient-pos-a: 10%;
        --gradient-pos-b: 100%;
    }
}

a{
    color: var(--second-color);
}